
@media (min-width: 768px) {
   
    header nav {
        flex-direction: row;
    }

    
    .cards-container {
        grid-template-columns: 2fr 1fr; 
    }
}

@media (min-width: 1024px) {
   
    main {
        padding: 3rem;
    }

    
    h1 {
        font-size: 3rem;
    }

 
    .cards-container {
        grid-template-columns: 2fr 1fr;
    }
}
